.Card2 {
    width: 400px;
    align-items: center;
    background-color: rgb(37, 37, 102);
    text-align: center;
    margin-left: 240px;
    margin-top: 8%;
}

#myGamePhoto {
    width: 400px;
}

.blockforCard {
    display: flex;
    width: 140px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    padding-bottom: 16px;
}

.textForCard {
    font-size: 26px;
    padding-top: 10px;
    color: rgb(234, 234, 249);
    font-family: "Oswald", sans-serif;
}

.costs {
    font-size: 22px;
    color: rgb(239, 239, 249);
    font-family: "Barlow Condensed", sans-serif;
}

.myButton {
    font-size: 18px;
    padding:3px;
    cursor: pointer;
    background-color:rgb(89, 89, 243);
    border: 0;
    border-radius: 6px;
    color: rgb(239, 239, 249);
    font-family: "Barlow Condensed", sans-serif;
}